html
    head
        title= title
    body
        p
            | Access token: #{accessToken}
        p
            | Refresh token: #{refreshToken}
        p
            | Scope: #{scope}
        p
            | Expiry Date #{expiry_date}
